header {
  display: flex;
  height: 400px;
  width: 100%;
  color: #FFFFFF;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  background-color: none;
  background-image: none;
}

/* For DESKTOP */
@media screen and (min-width: 1024px) {
  header {
    height: 100%;
    width: 29%;
    padding: 50px;
    margin: 20px 0 0 40px;
    background-image: url('../images/asfalt-dark.png');
    background-color: #b38330;
    justify-content: flex-start;
    text-align: center;
    align-self: flex-start;
  }
}