/* CSS for Navigation bar */
nav {
  display: none;
  /* position: fixed; */
  top: 0;
  width: 100%;
  display: flex;
  background-color: transparent;
  color: #FFFFFF;
  justify-content: space-between;
  align-content: flex-end;
  height: 80px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
}

/* Left part of NAV */
.logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 36px;
  font-family: 'bungee', sans-serif;
}

/* Right part of NAV */

.rightNav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.writeTweet {
  font-size: 10px;
  text-align: center;
  padding-left: 1em;
}

.clickWriteTweet {
  display: flex;
  justify-content: center;
  color: red;
  padding-top: 0.2em;
  padding-left: 1em;
}

/* For most MOBILE */
@media screen and (min-width: 330px) {
  .writeTweet {
    font-size: 16px;
  }
  .clickWriteTweet {
    padding-left: 1.5em;
  }
}

/* For TABLET */
@media screen and (min-width: 768px) {
  .writeTweet {
    font-size: 18px;
  }
  .clickWriteTweet {
    padding-left: 2em;
  }
}

/* For DESKTOP */
@media screen and (min-width: 1024px) {
  nav {
    background-color: rgb(64, 86, 161);
    width: 100%;
    margin-bottom: 2em;
  }
  .writeTweet {
    font-size: 20px;
  }
  .clickWriteTweet {
    padding-left: 2.5em;
  }
}