/* CSS for Navigation bar */
nav {
  display: none;
  /* position: fixed; */
  top: 0;
  width: 100%;
  display: flex;
  background-color: transparent;
  color: #FFFFFF;
  justify-content: space-between;
  align-content: flex-end;
  height: 80px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
}

/* Left part of NAV */
.logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 36px;
  font-family: 'bungee', sans-serif;
}

/* Right part of NAV */

.rightNav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.clickWriteTweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: transparent;
  border: transparent;
  padding-top: 0.2em;
  padding-left: 1em;
  font-size: 10px;
}

@keyframes bounce {
  0%   {top:0px;}
  50%  {top:5px;}
  100% {top:0px;}
}

span.down {
  display: block;
  align-self: center;
}
span.up {
  display: none;
  align-self: center;
}

.clickWriteTweet i{
  position: relative;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: transparent;
  border: none;
  width: 2em;
  align-self:center;
  font-size: 20px;
  color: red;
}

button.clickWriteTweet:hover i {
  color: white;
}


/* For most MOBILE */
@media screen and (min-width: 330px) {
  .clickWriteTweet {
    font-size: 15px;
  }
}


/* For TABLET */
@media screen and (min-width: 768px) {
  .clickWriteTweet {
    font-size: 18px;
  }
}

/* For DESKTOP */
@media screen and (min-width: 1024px) {
  nav {
    background-color: rgb(64, 86, 161);
    width: 100%;
    margin-bottom: 2em;
  }
  .clickWriteTweet {
    font-size: 22px;
  }
}