.new-tweet {
  display: none;
  border-color: black;
  justify-content: space-between;
  flex-direction: column;
  color: rgb(90, 87, 77);
}


form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding-top: 1em;
}

textarea {
  height: 2em;
  border-bottom: 5px solid rgb(90, 87, 77);
  border-top: none;
  border-left: none;
  border-right: none;
  resize: none;
  background-color:#f4f1ec;
  outline: 0;
  color: black;
  font-size: 20px;
}

.error {
  display: none;
  align-content: space-around;
  text-align: center;
  align-self: center;
  color: white;
  background-color: red;
  padding: 5px;
  width: 90%;
}

form div {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em
}

form button {
  background-color: rgb(64, 86, 161);
  color: #FFFFFF;
  font-family: 'bungee', sans-serif;
  border: none;
  padding: 3px 10px 3px 10px;
}

.counter {
  font-family: 'bungee', sans-serif;
  padding: 3px 10px 3px 10px;
}

.reddify {
  color: red;
}

@keyframes example {
  0%   {top:0px;}
  50%  {top:5px;}
  100% {top:0px;}
}

.clickWriteTweet {
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: transparent;
  border: none;
  width: 2em;
  align-self:center;
  font-size: 16px;
}
.clickWriteTweet:hover {
  color: white;
}