.tweet {
  display: flex;
  flex-direction: column;
  outline: 5px rgb(90, 87, 77) solid;
  margin-top: 2em;
  margin-bottom: 2em;
  justify-content: space-between
}

/* HEADER for article.tweet */
.tweet header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1em;
  padding-right: 1em;
  flex-basis: 100px;
  color: black;
  color: rgb(90, 87, 77);

}

.tweeter {
  display: flex;
  width: 98%;
  justify-content: space-between;
  padding-top: 1em;
  
}

.tweeterImageName {
  display: flex;
  align-items: center;
}

.userImage {
  padding-right: 1em;
}

.tweeterHandle {
  display: flex;
  align-items: center;
  color: rgb(64, 86, 161, 0.33);
}

.tweetContents {
  display: flex;
  width: 95%;
  padding-top: 1em;
  padding-bottom: 1em;
  justify-content: flex-start;
  font-weight: 600;

}

/* FOOTER for article.tweet */
.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em;
  padding-top: 0.5em;
  border-top: 5px solid rgb(90, 87, 77);

}

.date {
  padding-left: 1em;
  font-size: 20px;
  flex-basis: 250px;
}

.actions {
  display: flex;
  justify-content: space-around;
  padding-right: 1em;
  font-size: 20px;
  color: rgb(64, 86, 161);
  flex-basis: 100px;
}

.boxshadow {
  box-shadow: 10px 10px rgb(90, 87, 77, 0.25);
}

.yellowify {
  color: darkgoldenrod;
}