.old-tweets {
  display: flex;
  flex-direction: column-reverse;
}

.aTweet {
  display: flex;
  flex-direction: column;
  outline: 5px rgb(90, 87, 77) solid;
  margin-top: 1em;
  margin-bottom: 1em;
  justify-content: space-between;
  overflow-wrap: anywhere;
}

.aTweet:hover {
  box-shadow: 10px 10px rgba(90, 87, 77, 0.25);
}

/* HEADER for article.tweet */
.aTweet header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1em;
  padding-right: 1em;
  flex-basis: 100px;
  color: black;
  color: rgb(90, 87, 77);
}

.tweeter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 98%;
  padding-top: 1em;
}

.tweeterImageName {
  display: flex;
  align-items: center;
}

picture {
  padding-right: 1em;
  padding-left: 1em;
}

.tweeterHandle {
  align-self: flex-start;
  padding-left: 1em;
  color: rgba(64, 86, 161, 0.33);
}

.tweetContents {
  display: flex;
  width: 100%;
  padding: 0 1em;
  justify-content: flex-start;
  font-weight: 600;
}

/* FOOTER for article.tweet */
.aTweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em;
  padding-top: 0.5em;
  border-top: 5px solid rgb(90, 87, 77);
}

.date {
  padding-left: 1em;
  font-size: 20px;
  flex-basis: 90%;
}

.actions {
  display: flex;
  justify-content: space-around;
  padding-right: 1em;
  font-size: 20px;
  color: rgb(64, 86, 161);
  flex-basis: 100px;
}

.flag:hover {
  color: darkgoldenrod;
}

.retweet:hover {
  color: darkgoldenrod;
}

.like:hover {
  color: darkgoldenrod;
}

@media screen and (min-width: 768px) {
  .tweeter {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .tweeterHandle {
    align-self: center;
    padding-left: 0;
  }
}
